.homepage_post{
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}

.header{
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    margin-left: 30%;
}
