.homepage {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 4fr;
}

.homepage .leftsection {
  padding: 50px 3%;
  background-color: #eaeaea;
}

.homepage .forums,
.homepage .createdforums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5% 0 30px 0;
}

.homepage .createdHeading {
  margin-top: 30px;
}

.homepage .rightsection {
  padding: 50px 3%;
  align-items: center;
  justify-content: center;
}

.homepage .rightsection h2 {
  display: inline-block;
}
