.post {
  /* width: 80%; */
  border-bottom: solid black 1px;
  padding: 1em;
  text-align: left;
}

.post .postheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.6em;
}

.post .postheader h6 {
  margin-left: 0.5em;
  font-size: 1.1em;
}

.post .posttitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.post .postheader .posterdetails {
  display: flex;
  justify-self: flex-start;
}

.post .postheader .posteractivity {
  display: flex;
  justify-self: flex-end;
}

.post .actionbar {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.post .actionbar .actionbarrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.post .actionbar button,
.post .actionbar .numText {
  margin-left: 1.5em;
}

.post .actionbar .numText {
  text-align: center;
  font-size: 0.9em;
}

.post .actionbar button:first-child {
  margin-left: 0;
}

.post .tags {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.post .tags a {
  color: white;
}

.post .tags a:hover {
  text-decoration: none;
}
