.reviewquizpage {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 4fr;
}

.reviewquizpage .leftsection {
  padding: 50px 10%;
  background-color: #eaeaea;
}

.reviewquizpage .leftsection h2 {
  margin-bottom: 30px;
}

.reviewquizpage .leftsection h3 {
  margin-top: 30px;
}

.reviewquizpage .quizzes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5%;
}

.reviewquizpage .rightsection {
  padding: 50px 3%;
  align-items: center;
  justify-content: center;
}

.reviewquizpage .rightsection .topbar {
  text-align: center;
}

.reviewquizpage .rightsection .topbar h6 {
  display: inline-block;
  background-color: lawngreen;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.reviewquizpage .rightsection .MuiButton-root {
  background-color: lightpink;
  border-radius: 15px;
  margin-top: 15px;
}

.reviewquizpage .rightsection .MuiButton-label {
  display: flex;
  flex-direction: column;
  text-transform: none;
  padding: 2% 1%;
}

.reviewquizpage .rightsection Button h4 {
  font-weight: bold;
}

.reviewquizpage .rightsection Button p {
  margin: 0;
}
