.forumpage {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 4fr;
}

.forumpage .leftsection_createpost {
  padding: 50px 10%;
  background-color: #eaeaea;
}

.forumpage .leftsection_createpost Button {
  margin: 15px 0;
}

.forumpage .leftsection_createpost p {
  text-align: left;
  padding: 20px;
  background-color: skyblue;
  border-radius: 6px;
  margin: 15px 0 90px 0;
  font-weight: 500;
}

.forumpage .subforums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin-top: 5%;
}

.forumpage .rightsection_createpost {
  padding: 50px 3%;
  align-items: center;
  justify-content: center;
}

.forumpage .rightsection .NewPost {
  width: 100%;
  margin: 2em;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
}

.forumpage .rightsection_createpost .NewPost label {
  display: block;
  margin: 10px;
  padding-left: 20em;
  padding-right: 20em;
  text-align: center;
  font-weight: bold;
}

.forumpage .rightsection_createpost .NewPost input,
.forumpage .rightsection_createpost .NewPost textarea,
.forumpage .rightsection_createpost .NewPost select {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.forumpage .rightsection_createpost .NewPost button {
  margin: 5px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #fa923f;
  background-color: transparent;
  color: #fa923f;
  cursor: pointer;
}

.forumpage .rightsection_createpost .NewPost button:hover,
.forumpage .rightsection_createpost .NewPost button:active {
  color: white;
  background-color: #fa923f;
}
