.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10ch;
    height: 120vh;
    background: linear-gradient(90deg, #FFFEDF 0%, #fffcab 100%);
}

.ls-btn {
    margin: 5px;
}

.login-form {
    width: 300px;
    height: 380px;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form {
    width: 300px;
    height: 660px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.sright {
    margin-top: 5px;
    text-align: right;
    font-size: 13px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}